{{&gt; organisms-header }}
{{&gt; organisms-navigation }}
{{&gt; organisms-preface }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;!-- This region usually has the l-constrain class, but it's been removed for Pattern Lab. --&gt;
  &lt;div class=&quot;region-content&quot;&gt;

    {{&gt; atoms-page-title }}

    &lt;article class=&quot;node node--article node--full&quot; role=&quot;article&quot;&gt;

      {{&gt; molecules-article-body }}

    &lt;/article&gt;
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-footer }}
