&lt;article class=&quot;node node--article node--teaser&quot; role=&quot;article&quot;&gt;
  &lt;h2 class=&quot;node__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h2&gt;
  &lt;div class=&quot;node__date&quot;&gt;{{&gt; atoms-medium-date }}&lt;/div&gt;
  {{{ summary }}}
&lt;/article&gt;
