&lt;span class=&quot;site-name&quot;&gt;
  &lt;a class=&quot;site-name__link&quot; href=&quot;{{ url }}&quot; rel=&quot;home&quot;&gt;
    &lt;h1 class=&quot;site-name__text&quot;&gt;Site Name&lt;/h1&gt;
  &lt;/a&gt;
&lt;/span&gt;
