&lt;header class=&quot;header&quot; role=&quot;banner&quot;&gt;
  &lt;div class=&quot;region-header layout-constrain&quot;&gt;
    {{&gt; atoms-site-name }}
    {{&gt; atoms-site-slogan }}
  &lt;/div&gt;
&lt;/header&gt;
