<footer class="footer" role="contentinfo">
  <!-- This region usually has the l-constrain class, but it's been removed for Pattern Lab. -->
  <div class="region-footer">
    {{> molecules-footer-menu }}
  </div>
</footer>
