&lt;article class=&quot;node node--article node--image-teaser&quot; role=&quot;article&quot;&gt;
  &lt;div class=&quot;layout-slat&quot;&gt;
    &lt;div class=&quot;layout-slat__media&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-thumbnail-image }}&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;layout-slat__content&quot;&gt;
      &lt;h2 class=&quot;node__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ title }}&lt;/a&gt;&lt;/h2&gt;
      &lt;div class=&quot;node__date&quot;&gt;{{&gt; atoms-medium-date }}&lt;/div&gt;
      {{{ summary }}}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;
