<nav class="block  block--menu-block" role="navigation">
  <h2 class="element-invisible block__title">Main menu</h2>
  <ul class="nav nav--main-menu">
    <li class="nav__item"><a class="nav__link" href="{{ url }}">Home</a></li>
    <li class="nav__item"><a class="nav__link" href="{{ url }}">About</a></li>
    <li class="nav__item"><a class="nav__link" href="{{ url }}">Blog</a></li>
    <li class="nav__item"><a class="nav__link" href="{{ url }}">Contact</a></li>
  </ul>
</nav>
