<p>There was an <em>Englishman</em> in our compartment, and he complimented me on&mdash;on what? But you would never guess. He complimented me on my English. He said Americans in general did not speak the English language as correctly as I did. I said I was obliged to him for his compliment, since I knew he meant it for one, but that I was not fairly entitled to it, for I did not speak English at all&mdash;I only spoke American.</p>
