<div class="vcard">
  <div class="vcard__org">Company Name</div>
  <div class="vcard__adr">
    <div class="vcard__street-address">1234 Main St.</div>
    <span class="vcard__locality">Anywhere</span>,
    <span class="vcard__postal-code">101010</span>,
    <abbr class="vcard__region" title="California">CA</abbr>
    <div class="vcard__country-name">U.S.A</div>
  </div>
  <div class="vcard__tel">+1.888.123.4567</div>
</div>
