&lt;div class=&quot;form-item form-item--select&quot;&gt;
  &lt;label class=&quot;form-item__label&quot; for=&quot;edit-select&quot;&gt;Select&lt;/label&gt;
  &lt;select id=&quot;edit-select&quot; name=&quot;select&quot; class=&quot;form-select&quot;&gt;
    &lt;option&gt;Option One&lt;/option&gt;
    &lt;option&gt;Option Two&lt;/option&gt;
    &lt;option&gt;Option Three&lt;/option&gt;
    &lt;option&gt;Option Four&lt;/option&gt;
    &lt;option&gt;Option Five&lt;/option&gt;
    &lt;option&gt;Option Six&lt;/option&gt;
  &lt;/select&gt;
  &lt;div class=&quot;form-item__description&quot;&gt;The description for this form field.&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;form-item form-item--select&quot;&gt;
  &lt;label class=&quot;form-item__label&quot; for=&quot;edit-select&quot;&gt;Select with groups&lt;/label&gt;
  &lt;select id=&quot;edit-select&quot; name=&quot;select&quot; class=&quot;form-select&quot;&gt;
    &lt;optgroup label=&quot;Group One&quot;&gt;
      &lt;option&gt;Option One&lt;/option&gt;
      &lt;option&gt;Option Two&lt;/option&gt;
      &lt;option&gt;Option Three&lt;/option&gt;
    &lt;/optgroup&gt;
    &lt;optgroup label=&quot;Group Two&quot;&gt;
      &lt;option&gt;Option Four&lt;/option&gt;
      &lt;option&gt;Option Five&lt;/option&gt;
      &lt;option&gt;Option Six&lt;/option&gt;
    &lt;/optgroup&gt;
  &lt;/select&gt;
  &lt;div class=&quot;form-item__description&quot;&gt;The description for this form field.&lt;/div&gt;
&lt;/div&gt;
