{{&gt; organisms-header }}
{{&gt; organisms-navigation }}
{{&gt; organisms-preface }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;div class=&quot;region-content layout-constrain&quot;&gt;

    {{&gt; atoms-page-title }}

    {{# listItems.five }}
      {{&gt; organisms-image-teaser }}
    {{/ listItems.five }}

    {{&gt; molecules-pager }}

  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-postscript }}
{{&gt; organisms-footer }}
