&lt;div class=&quot;progress&quot;&gt;
  &lt;div class=&quot;progress__track&quot;&gt;
  &lt;div class=&quot;progress__bar&quot; style=&quot;width: 57%&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;progress__percentage&quot;&gt;57%&lt;/div&gt;
  &lt;div class=&quot;progress__description&quot;&gt;This is the description for this progress bar.&lt;/div&gt;
&lt;/div&gt;
