&lt;article class=&quot;node node--article node--teaser&quot; role=&quot;article&quot;&gt;
  &lt;div class=&quot;l-slat&quot;&gt;
    &lt;div class=&quot;l-slat__media&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;{{&gt; atoms-thumbnail }}&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;l-slat__content&quot;&gt;
      &lt;h2 class=&quot;node__title&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Node Title&lt;/a&gt;&lt;/h2&gt;
      {{&gt; molecules-article-summary }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/article&gt;
