{{> organisms-header }}
{{> organisms-navigation }}
{{> organisms-preface }}

<main id="main" class="main" role="main">
	<div class="region-content layout-constrain">
  	<p>Homepage content goes here&hellip;</p>
  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
