{{> organisms-header }}
{{> organisms-navigation }}
{{> organisms-preface }}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content layout-constrain">

    {{> atoms-page-title }}

    {{# listItems.five }}
      {{> organisms-image-teaser }}
    {{/ listItems.five }}

    {{> molecules-pager }}

  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
