{{> organisms-header }}
{{> organisms-navigation }}
{{> organisms-preface }}

<main id="main" class="main" role="main">
  <div class="region-content layout-constrain">

    {{> atoms-page-title }}
    {{> organisms-teaser }}
    {{> organisms-teaser }}
    {{> organisms-teaser }}
    {{> organisms-teaser }}
    {{> organisms-teaser }}
    {{> molecules-pager }}

  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
