{{> organisms-header }}
{{> organisms-navigation }}
{{> organisms-preface }}

<main id="main" class="main" role="main">
  <div class="region-content layout-constrain">

    {{> atoms-page-title }}

    <article class="node node--article node--full" role="article">

      {{> molecules-article-body }}

    </article>
  </div>
</main>

{{> organisms-postscript }}
{{> organisms-footer }}
