{{> organisms-header }}
{{> organisms-navigation }}
{{> organisms-preface }}

<main id="main" class="main" role="main">
  <!-- This region usually has the layout-constrain class, but it's been removed for Pattern Lab. -->
  <div class="region-content">

    {{> atoms-page-title }}

    <article class="node node--article node--full" role="article">

      {{> molecules-article-body }}

    </article>
  </div>
</main>

{{> organisms-footer }}
