<article class="node node--article node--teaser" role="article">
  <h2 class="node__title"><a href="{{ url }}">{{ title }}</a></h2>
  <div class="node__date">{{> atoms-medium-date }}</div>
  {{{ summary }}}
</article>
