<article class="node node--article node--teaser" role="article">
  <div class="l-slat">
    <div class="l-slat__media">
      <a href="{{ url }}">{{> atoms-thumbnail }}</a>
    </div>
    <div class="l-slat__content">
      <h2 class="node__title"><a href="{{ url }}">Node Title</a></h2>
      {{> molecules-article-summary }}
    </div>
  </div>
</article>
