{{&gt; organisms-header }}
{{&gt; organisms-navigation }}

&lt;main id=&quot;main&quot; class=&quot;main&quot; role=&quot;main&quot;&gt;
	&lt;!-- This region usually has the l-constrain class, but it's been removed for Pattern Lab. --&gt;
  &lt;div class=&quot;region-content&quot;&gt;
  	&lt;p&gt;Homepage content goes here&amp;hellip;&lt;/p&gt;
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; organisms-footer }}
