<nav class="breadcrumb" role="navigation">
  <h2 class="breadcrumb__title">You are here')</h2>
  <ul class="breadcrumb__list">
    <li class="breadcrumb__item"><a href="{{ url }}">Home</a></li>
    <li class="breadcrumb__item"><a href="{{ url }}">Section</a></li>
  </ul>
</nav>
