&lt;article class=&quot;node node--article node--full&quot; role=&quot;article&quot;&gt;
  &lt;h1 class=&quot;node__title&quot;&gt;{{ node.title }}&lt;/h1&gt;
  &lt;footer&gt;
    &lt;div class=&quot;node__date&quot;&gt;{{ month.long }} {{ day.long }}, {{ year.long }}&lt;/div&gt;
    &lt;div class=&quot;node__author&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ author.first-name }} {{ author.last-name }}&lt;/a&gt;&lt;/div&gt;
  &lt;/footer&gt;
  {{&gt; molecules-article-body }}
&lt;/article&gt;
